 <article>
     <h1 class="todo-heading">My Todo List</h1>
        <section class="addTodo">
            <form action="task" method="POST">
                <input class="add-text" name="subject" type="text" placeholder="Add task">
                <input class="add-date" name="date" type="date">           
                <button class="add" type="submit">Add</button>
            </form>
        </section>

        <%= render partial: "task_section", locals: {
            section_title: "Overdue",
            tasks: Task.overdue,
        } %>
        <%= render partial: "task_section", locals: {
            section_title: "Due Today",
            tasks: Task.due_today
        } %>
        <%= render partial: "task_section", locals: {
            section_title: "Due Later",
            tasks: Task.due_later
        } %>
</article>
