<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./my_app.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Task Mangagement</title>
</head>
<body>

    <article>

     <h1 class="todo-heading">My Todo List</h1>
        <section class="addTodo">
            <form action="" method="POST">
                <input class="add-text" name="subject" type="text" placeholder="Add task">
                <input class="add-date" name="date" type="date">           
                <button class="add" type="submit">Add</button>
            </form>
        </section>
        <section class="todo-section">
            <div class="todo-small-head">
                <p class="todo-title">Due Today</p>
                <p class="todo-count">0/7</p>
            </div>
            <ul>
                <li class="todo-para">
                    <label class="todo-list">
                        <input type="checkbox" class="todo-check">
                        Submit Project
                        <p class="todo-show-date">2024-21-12</p>
                        <img class="delete-icon" src="./delete icon 2.webp" alt="Delete icon">
                    </label>
                </li>

                <li class="todo-para">
                    <label class="todo-list">
                        <input type="checkbox" class="todo-check">
                         Submit Project
                         <p class="todo-show-date">2024-21-12</p>
                         <img class="delete-icon" src="./delete icon 2.webp" alt="Delete icon">
                    </label>
                </li>
            </ul>
        </section>

        <section class="todo-section">
            <div class="todo-small-head">
                <p class="todo-title">Due Today</p>
                <p class="todo-count">0/7</p>
            </div>
            <ul>
                <li class="todo-para">
                    <label class="todo-list">
                        <input type="checkbox" class="todo-check">
                        Submit Project
                        <p class="todo-show-date">2024-21-12</p>
                        <img class="delete-icon" src="./delete icon 2.webp" alt="Delete icon">
                    </label>  
                </li>
                <li class="todo-para">
                    <label class="todo-list">
                        <input type="checkbox" class="todo-check">
                         Submit Project
                         <p class="todo-show-date">2024-21-12</p>
                        <img class="delete-icon" src="./delete icon 2.webp" alt="Delete icon">
                    </label>
                </li>
            </ul>
        </section>
    </article>
</body>
</html>